{% extends 'base.html.twig' %}
{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/styles/stylesaccount.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/styles/styles.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/styles/stylesfooter.css') }}">
{% endblock %}

{% block title %}Profil de {{app.user.firstname}} {{app.user.lastname}}{% endblock %}
{% block body %}
<div class="navigation_page">
    <a class="lien" href="{{ path('app_home') }}">Accueil</a> > <a> Mon compte </a>
</div> 
<div class="my_acount_container">
    <div class="entete">
        <p><i class="fa fa-user"></i> {{app.user.firstname}} {{app.user.lastname}}</p>
        <p><i class="fa fa-envelope"></i> {{app.user.email}}</p>
        <p><i class="fa fa-phone"></i> {{app.user.telephone}}</p>

        {% if app.user.roles == []  %}
            <p><i class="fa fa-phone "></i> User</p>
        {% endif %}
        <a href="{{path('app_user_account_edit')}}" class="link_btn_account" > Modifier mes informations <i class="fa-solid fa-arrow-right"></i></a>
    </div>

    

        {% if is_granted('ROLE_ADMIN') == true %}
            <div class="admin_section entete">
                <h2>Gestion du site</h2>
                <div>
                    <a href="{{path('app_event_new')}}" class="link_btn_account" >Créer un event</a>
                    <a href="{{path('app_school_new')}}" class="link_btn_account" >Créer une école</a>
                    <a href="{{path('app_department_new')}}" class="link_btn_account" >Créer un département</a>
                </div>
               
               <div>
                    <a href="{{path('app_user_index')}}" class="link_btn_account" >Gérer les utilisateurs</a>
                    <a href="{{path('app_school_index')}}" class="link_btn_account" >Gérer les écoles</a>
                    <a href="{{path('app_department_index')}}" class="link_btn_account" >Gérer les départements</a>
               </div>
                
            </div> 
        {% endif %}
        
    
</div>
<div id="Events" class="events">
        <h2>Les évenements</h2>
        
        {% if events|length != 0 %}
            {% for i in range(0, events|length - 1) %}
                <div class="card_container">
                    <img src="{{ vich_uploader_asset(events[i], 'imageFile') }}" alt="">
                    <div class="card_info">
                        <h2>{{events[i].Name}}</h2>
                        <div class="date_lieu_card">
                            <h3>{{ events[i].Datedebut.format('d/m/Y') }} - {{ events[i].Datefin.format('d/m/Y') }}</h3>
                            <h3>{{events[i].lieu}}</h3>
                        </div>
                        <div class="card_info_btn">
                            <p class="p_info_index">{{events[i].description}}</p>
                            <script> 
                                function truncateText(selector, maxLength) {
                                    var element = document.querySelector(selector),
                                        truncated = element.innerText;

                                    if (truncated.length > maxLength) {
                                        truncated = truncated.substr(0,maxLength) + '...';
                                    }
                                    return truncated;
                                }

                                document.querySelector('.p_info_index').innerText = truncateText('.p_info_index', 300);
                            </script>
                            <a href="/event/{{events[i].id}}">En savoir plus <i class="moreInfoButton fa-solid fa-arrow-right"></i></a>
                            </br><a href="{{ path('app_devis_maker', {'id': events[i].id}) }}">Devis<i class="moreInfoButton fa-solid fa-arrow-right"></i></a>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        
    </div>
{% endblock %}