{% extends 'base.html.twig' %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/styles/styles.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/styles/stylesDetailsEvent.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/stylesFooter.css') }}">
{% endblock %}

{% block title %}Créer un evennement{% endblock %}

{% block body %}
        <h1 class="create_envent_title">Créer un évènement</h1>
        <div class="new_event_div">
            {{ include('event/_form.html.twig') }}
        </div>
        

    <a href="{{ path('app_home') }}">back to list</a>
{% endblock %}