{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/styles/styles.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/styles/stylesDetailsEvent.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/stylesFooter.css') }}">
{% endblock %}


{% block title %}Détails de l'événement{% endblock %}

{% block body %}

    <div class="navigation_page">
        <a href="{{ path('app_home') }}">Accueil</a> > <a>{{event.Name}} </a>{#<a href="{{ path('event_show', {'id': event.id}) }}">{{ event.title }}</a> #}
    </div>

<div class="header_event">
            <div class="container_header">
                <div class="header_event__title">
                    <h2>{{event.Name}}</h2>
                </div>
                <div class="detail_header">
                    <div class="header_event__date">
                        <h2>Début : {{ event.DateDebut ? event.DateDebut|date('Y-m-d') : '' }}</h2>
                    </div><div class="header_event__date">
                        <h2>Fin : {{ event.DateFin ? event.DateFin|date('Y-m-d') : '' }}</h2>
                    </div>
                </div>               
            </div>

</div>
{# <a href="{{ path('app_devis_maker') }}">Devis<i class="fa-solid fa-arrow-right"></i></a> #}

<div class="detail_event">
    <div class="description">
        <h2>Description</h2>
        <p>{{ event.description }}</p>
        </div>
    <div class="menu">
        <h2>Menu</h2>
        <p>Menu</p>
    </div>
    <div class="lieu">
        <h2>Département</h2>
        <p>{{ department.name }}</p>
    </div>
    <div class="lieu">
        <h2>Ecole</h2>
        <p>{{ school.name }}</p>
        <p>{{ school.address }}</p>
        <p>{{ school.mail }}</p>
        <p>{{ school.phone }}</p>
    </div>
    {% if app.user %}
        <form method="POST" action="{{ path('app_event_register', {'id': event.id}) }}">
            <input type="hidden" name="user" id="idUser" value="{{ app.user.id }}"></input>
            <input type="hidden" name="event" id="idEvent" value="{{ event.id }}"></input>
            <button type="submit" class="btn moreInfoButton_button">S'inscrire à l'évenement</button>
        </form>   
    {% else %}
        <h3>Connectez-vous</h3>
        <a type="submit" class="btn moreInfoButton" disabled>Créer un compte</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') == true %}
        {# <a href="{{path('_delete_form.html.twig', {'id': event.id})}}" class="moreInfoButton_button_delete" >Supprimer l'évenement</a>
    <input type="text"> #}

        {{ include('event/_delete_form.html.twig') }}

    {% endif %}
</div>
{% endblock %}
