{% extends 'base.html.twig' %}


{% block title %}Log in!{% endblock %}
{% block head %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock %}
{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/styles/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/styles/styleslogin.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/styles/stylesfooter.css') }}">
{% endblock %}
{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    

    <div class ="boxlogin">
        <h1 class="h1login">Connexion</h1>
            <div>
                <input type="email" value="{{ last_username }}"  placeholder="Email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div>
                <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" class="form-control" autocomplete="current-password" required>
            </div>
        

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
    
            <input class="btn btn-lg btn-primary" type="submit">
            Se connecter
            </input>
        
    </div>    
</form>
{% endblock %}
