{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/styles/styles.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/styles/stylesregister.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/styles/styleslogin.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/styles/stylesfooter.css') }}">
{% endblock %}
{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="boxlogin">
    <h1 class="h1login">Inscription</h1>
      {{ form_start(registrationForm) }}  
        {{ form_widget(registrationForm.email)}}
        {{ form_widget(registrationForm.Firstname, {'attr': {'placeholder': 'Prénom'}}) }} 
        {{ form_widget(registrationForm.Lastname, {'attr': {'placeholder': 'Nom'}}) }}
        {{ form_widget(registrationForm.Telephone, ) }}
        {{ form_widget(registrationForm.plainPassword, {
            label: 'Password' 
        }) }}
        <div class="h1agree">
        {{ form_widget(registrationForm.agreeTerms) }}<p class="terms">J'accepte les termes et conditions d'utilisation<p></div>
        
        
            
    
        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
