{% extends 'base.html.twig' %}

{% block title %}New School{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/styles/styles.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/styles/stylesDetailsEvent.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/stylesFooter.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/stylesCreate.css') }}">
{% endblock %}

{% block body %}
    <h1>Create new School</h1>

    {{ include('school/_form.html.twig') }}

    <a href="{{ path('app_school_index') }}">back to list</a>
{% endblock %}
